---
title: Biography
layout: page-narrow
permalink: /bio.html
---

{% include feature/image.html objectid="https://www.ijc.uidaho.edu/images/IJC_LMorse_coll_01-04.jpg" %}

<h1>Biography</h1>

{% include feature/image.html objectid="ijc_lee_morse_054" alt="Lee Morse as a child" caption="Lee Morse as a child" %}

<p>Lena Corinne Taylor was born to Pleasant John and Olive Taylor in Cove, Oregon, on November 30, 1897. The Taylor family relocated to the small town of Kooskia, Idaho, in 1908. Lena was one of twelve children. Lena married Elmer Morse in 1915, and the next year she gave birth to son Jack.<sup><a class="stronglink" href="#footnote1">1</a></sup></p>

<p>In 1920 Morse signed with Will King, a musical comedy producer, and left Kooskia and her first husband to pursue a career as a vaudeville performer, touring the West Coast. She appeared on Broadway in 1923 and began recording in 1924.<sup><a class="stronglink" href="#footnote2">2</a></sup><p>

</p>Morse gained fame for her unique voice. In 1923, a reporter wrote that Morse &#8220;accomplishes a low register and volume which equals in tone a male bass singer, yet her voice has a feminine quality, a richness and sweetness which no male voice could produce. Her high register is as sweet and soft pretty, more so, than most female voices. She covers the entire range with surpassing ease . . . it seems impossible that such volume, such power and such lingering sweetness could all be produced by the same vocal chords . . . She is a sweet, dainty, ever smiling sort of girl whose appearance in no way suggests the voice of magical sweetness and range which she owns.&#8221;<sup><a class="stronglink" href="#footnote3">3</a></sup> According to Kristi O'Connell Myers of leemorse.com, it was theorized that Morse sang with her brothers while growing up and attempted to match their voices.<sup><a class="stronglink" href="#footnote4">4</a></sup></p>

<p>Lee was one of the most recorded female vocalists of the 1920s. A recording contract with the Path&eacute; label launched her professional career. Path&eacute; allowed Lee to experiment musically with whooping and yodeling and to record her own musical compositions; she became a singer-songwriter &#8220;Decades before it became the fashion.&#8221;<sup><a class="stronglink" href="#footnote5">5</a></sup> Lee began recording with Columbia in 1927 and remained with the label until 1933.</p>

{% include feature/image.html objectid="ijc_lee_morse_037" alt="Lee Morse with Bob Downey" caption="Lee Morse with Bob Downey" %}

<p>During the Great Depression, stage performances and recording opportunities dried up, so Morse settled for club acts in Texas, accompanied by pianist and partner Bob Downey.<sup><a class="stronglink" href="#footnote6">6</a></sup> After moving to Rochester, NY, in 1939, Morse met Ray Farese, who attempted to rejuvenate Morse&#8217;s career by landing her a local radio show and appointments at local clubs. The two married in 1946.<sup><a class="stronglink" href="#footnote7">7</a></sup> Lee Morse yearned for a comeback with her 1950 song <em>Don&#8217;t Even Change a Picture on the Wall</em>, written in the 1940s for soldiers serving in World War II, but the song was popular only in the Rochester area.<sup><a class="stronglink" href="#footnote8">8</a></sup></p>

{% include feature/image.html objectid="ijc_lee_morse_049" alt="Lee Morse later in life" caption="Lee Morse later in life" %}

<p>Lee Morse died suddenly while she was visiting a neighbor on December 16, 1954, at the age of 57.<sup><a class="stronglink" href="#footnote9">9</a></sup> After her death, Ray Farese turned many of her materials over to Rochester-based journalist Howard Hosmer; it appears that the materials never resurfaced.<sup><a class="stronglink" href="#footnote10">10</a></sup> 

<h2>References</h2>

<ol>
  <li><a name="footnote1"></a>Leemorse.net (archived at http://web.archive.org/web/20080705202036/http:/www.leemorse.net/)</li>
  <li><a name="footnote2"></a>https://oregoncartoonproject.org/wp-content/uploads/2022/03/Lee-Morse-by-Dennis-Nyback.pdf (archived at https://perma.cc/APN7-7E3L)</li>
  <li><a name="footnote3"></a>https://web.archive.org/web/20151220185945/https://www.washingtonhistory.org/files/library/LeeMorse.pdf</li>
  <li><a name="footnote4"></a>Leemorse.net (archived at http://web.archive.org/web/20080705202036/http:/www.leemorse.net/)</li>
  <li><a name="footnote5"></a>https://web.archive.org/web/20151220185945/https://www.washingtonhistory.org/files/library/LeeMorse.pdf</li>
  <li><a name="footnote6"></a>https://oregoncartoonproject.org/wp-content/uploads/2022/03/Lee-Morse-by-Dennis-Nyback.pdf (archived at https://perma.cc/APN7-7E3L); https://www.democratandchronicle.com/story/lifestyle/art/blogs/staff/2011/04/29/lee-morse-rochesters-forgotten-star/2296827/ (archived at https://perma.cc/4LBX-7J72)</li>
  <li><a name="footnote7"></a>https://www.findagrave.com/memorial/23637363/lee-morse</li>
  <li><a name="footnote8"></a>https://web.archive.org/web/20151220185945/https://www.washingtonhistory.org/files/library/LeeMorse.pdf</li>
  <li><a name="footnote9"></a>https://oregoncartoonproject.org/wp-content/uploads/2022/03/Lee-Morse-by-Dennis-Nyback.pdf (archived at https://perma.cc/APN7-7E3L)</li>
  <li><a name="footnote6"></a>https://www.democratandchronicle.com/story/lifestyle/art/blogs/staff/2011/04/29/lee-morse-rochesters-forgotten-star/2296827/ (archived at https://perma.cc/4LBX-7J72)</li>
</ol>
