---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title">{{ site.title }}</h2>
        <p class="card-text">
          John Birks (Dizzy) Gillespie was born in Cheraw, South Carolina in 1917. Gillespie is known for being one of the early pioneers of bebop. During his extended career, Dizzy played the trumpet for several well-known orchestras for popular jazz artists such as Teddy Hill, Cab Calloway, Ella Fitzgerald, Earl Hines, and Lionel Hampton.  

          <p>In 1960, he was inducted into the Jazz Hall of Fame. In 1979, Dizzy published his autobiography <i>To Be or Not to Bop</i>. At the time of his death in 1993, Dizzy was one of the most widely recognized and admired jazz musicians both within the jazz community and in wider culture and society.</p>
        </p>
        <a class="btn btn-primary" href="{{ '/bio.html' | relative_url }}" role="button">Learn More &raquo;</a>
      </div>
    </div>
    {% include index/carousel.html title="Sample Items" %}
    
  </div>
  <div class="col-md-4">  
    {% include index/image-card.html objectid="https://www.ijc.uidaho.edu/images/IJC_DGillespie_coll_01-01.jpg" %}
    {% include index/time.html %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>